.*.swp
.deps
.dirstamp
.libs
*.la
*.lo
*.o
*.pc
*.gir
*.typelib
*.stamp
*.stamp-t
stamp-*
Makefile.in
Makefile
config.h
config.h.in
config.log
config.status
gtk-doc.make
version.xml
/m4
/autom4te.cache
/build-aux
/aclocal.m4
/configure
/libtool
/test-umockdev
/test-umockdev-vala
/docs/reference/
src/umockdev-1.0.vapi
src/test-umockdev-vala.c
