.*.swp
.deps
.dirstamp
.libs
*.la
*.lo
*.o
*.pc
*.gir
*.typelib
*.stamp
*.stamp-t
*.log
*.trs
*.gcda
*.gcno
*-coverage
*-coverage.info
aminclude_static.am
stamp-*
Makefile.in
Makefile
config.h
config.h.in
config.log
config.status
gtk-doc.make
version.xml
/m4
/autom4te.cache
/build-aux
/aclocal.m4
/configure
/libtool
/docs/reference/
src/umockdev-1.0.vapi
src/umockdev.h
src/umockdev.c
src/umockdev-run
src/umockdev-run.c
src/umockdev-record
src/umockdev-record.c
tests/chatter
tests/chatter-socket-stream
tests/readbyte
tests/test-ioctl-tree
tests/test-umockdev-vala.c
tests/test-umockdev
tests/test-umockdev-vala
tests/test-umockdev-run
tests/test-umockdev-run.c
tests/test-umockdev-record
tests/test-umockdev-record.c
